* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../images/Cordoba.png'), auto;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    cursor: url('../images/Cordoba.png'), auto;
}

header {
    background-color: rgb(11, 177, 11);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.nubes-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 12.5rem;
    margin-bottom: 6.25rem;
}

.nube {
    padding: 1.875rem;
    border-radius: 50%;
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: 0.185rem 0.185rem 0.185rem rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
}

.nube h3 {
    font-size: 1.5em;
    color: rgb(11, 177, 11);
    margin-bottom: 0.9375rem;
    cursor: url('../images/Koki.png'), auto;
    margin-top: 3.75rem;
    transition: color 0.3s ease;
}

.nube h4 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 0.9375rem;
    cursor: url('../images/Koki.png'), auto;
    margin-top: 4.375rem;
    transition: color 0.3s ease;
}

.nube h5 {
    font-size: 1.5em;
    color: rgb(11, 177, 11);
    margin-bottom: 0.9375rem;
    cursor: url('../images/Koki.png'), auto;
    margin-top: 4.375rem;
    transition: color 0.3s ease;
}

.nube2 {
    background-color: #ffffff;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    cursor: url('../images/Koki.png'), auto;
}
.nube2:hover {
    transform: scale(1.04);
    background-color: #9A3B2A;
}
.nube2:hover h3 {
    color: #D4A76A;
}

.nube3 {
    background-color: rgb(11, 177, 11);
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    cursor: url('../images/Koki.png'), auto;
}
.nube3:hover {
    transform: scale(1.04);
    background-color: #9A3B2A;
}
.nube2:hover h4 {
    color: #D4A76A;
}

.nube4 {
    background-color: #ffffff;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    cursor: url('../images/Koki.png'), auto;
}
.nube4:hover {
    transform: scale(1.04);
    background-color: #9A3B2A;
}
.nube2:hover h5 {
    color: #D4A76A;
}

.borde-letras {
    text-shadow: 
        -0.125rem -0.125rem 0px black, 
        0.125rem -0.125rem 0px black, 
        -0.125rem  0.125rem 0px black, 
        0.125rem  0.125rem 0px black; 
    font-weight: bold;
}

section {
  margin-top: 1.875rem;
}

.derecha {
    text-align: right;
    font-size: 0.9375rem;
}

.logo img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url('../images/Cordoba.png'), auto;
}

.casa img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

.lnk img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

.footer {
    background-size: cover;
    background-position: center;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 4rem;
    text-align: center;
    padding: 1.25rem 0;
    background-image: url('../images/banderaCrdb.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay p {
    color: white;
    font-size: 1.125rem;
    margin: 0;
}

.junta img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

.rss img {
    height: 1.2rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
    position: relative;
}

.atom img {
    height: 1.2rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
    position: relative;
}

.RssAtom {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.MdnJnt {
    display: flex;
    gap: 1.25rem;
}

.CsLnkdn {
    display: flex;
    gap: 1.25rem;

}
